<div class="text-center" style="margin: 20px;" *ngIf="leyendo">
    <i class="fas fa-sync fa-10x text-success fa fa-spin"></i>
    <h3>Leyendo Servicios Programas ...</h3>
</div>

<div class="m-3" *ngIf="!leyendo">

    <div class="row">
        <!-- %%%%%%% Filtras Búsqueda por Periodo %%%%%%% -->
        <div class="col">
            <div class="form-group">
                <label class="font-weight-bold">Periodo</label>
                <select [(ngModel)]="periodo" name="periodo" required class="custom-select" (change)="leerServiciosPrograma()">
                  <option [value]="periodo.periodo" *ngFor="let periodo of periodos" >{{periodo.periodo | capitalizado}}</option>
                </select>
            </div>
        </div>

        <!-- %%%%%%% Filtrar Búsqueda por Columna %%%%%%% -->
        <div class="col">
            <div class="form-group">
                <label class="font-weight-bold">Ordenar Por</label>
                <select [(ngModel)]="ordenarPor" name="ordenarPor" required class="custom-select" (change)="leerServiciosPrograma()">
                  <option [value]="ordenar" *ngFor="let ordenar of aOrdenarPor" >{{ordenar | capitalizado}}</option>
                </select>
            </div>
        </div>

        <!-- %%%%%%% Ver por - Servicios libres o asignados %%%%%%% -->
        <div class="col">
            <div class="form-group">
                <label class="font-weight-bold">Ordenar Por</label>
                <select [(ngModel)]="verPor" name="verPor" required class="custom-select" (change)="filtrarServicios()">
                <option value="Libres">Servicios Libres</option>
                <option value="Asignados">Servicios Asignados</option>
                <option value="Todos">Todos</option>
              </select>
            </div>
        </div>

        <div class="col">
            <mat-slide-toggle [checked]="editar" (change)="editar = !editar">Editar</mat-slide-toggle>
        </div>
    </div>
    <button *ngIf="editar" class="btn btn-outline-success float-right" (click)="agregarServicioPrograma()" style="margin: 5px;"><img src="assets/Iconos/Agregar.png" style="height: 32px;"> Agregar Servicio</button>
    <button class="btn btn-outline-success float-right" (click)="leerServiciosPrograma()" style="margin: 5px;"><img src="assets/Iconos/Actualizar.png" style="height: 32px;"> Actualizar</button>

    <table class="table table-hover puntero-manito table-striped">
        <thead class="table-dark">
            <tr>
                <th>No</th>
                <th>Asignatura</th>
                <th>Grupo</th>
                <th>Jornada</th>
                <th>Programa</th>
                <th>I/H</th>
                <th>I/S</th>
                <th>Horario</th>
                <th *ngIf="editar">Ver</th>
                <th *ngIf="editar">Editar</th>
                <th *ngIf="editar">Eliminar</th>
            </tr>
        </thead>

        <tbody>
            <tr>
                <td></td>
                <td><input (keyup)="buscarAsignatura()" type="text" class="form-control" [(ngModel)]="terminoAsignatura" name="terminoAsignatura"></td>
                <td></td>
                <td></td>
                <td><input (keyup)="buscarPrograma()" type="text" class="form-control" [(ngModel)]="terminoPrograma" name="terminoPrograma"></td>
                <td></td>
                <td></td>
                <td></td>
                <td><img style="width: 32px;" src="assets/Iconos/LimpiarFiltro.png" class="puntero-manito" (click)="limpiarFiltros()"></td>
                <td *ngIf="editar"></td>
                <td *ngIf="editar"></td>
            </tr>

            <tr *ngFor="let servicioprograma of bServiciosPrograma; let id = index">
                <td>{{ id + 1 }}</td>
                <td class="font-weight-bold">{{ servicioprograma.asignatura | capitalizado }}</td>
                <td>{{ servicioprograma.grupo | uppercase }}</td>
                <td>{{ servicioprograma.jornada | capitalizado }}</td>
                <td>{{ servicioprograma.programa | capitalizado }}</td>
                <td>{{ servicioprograma.horas }}</td>
                <td>{{ servicioprograma.horasSemestre }}</td>
                <td style="width: 700px;">
                    <div *ngIf="servicioprograma.jornada !== 'virtual'">
                        <table class="table">
                            <tbody>
                                <tr *ngFor="let horario of servicioprograma.horarios">
                                    <td style="width: 100px;">{{ horario.dia | capitalizado }} de</td>
                                    <td style="width: 90px;">{{ horario.inicio }}</td>
                                    <td style="width: 10px;">a</td>
                                    <td style="width: 100px;">{{ horario.fin }}</td>
                                    <td style="width: 100px;">({{ horario.total }} Horas)</td>
                                    <td>{{ horario.salon | uppercase }}</td>
                                    <td style="width: 60px;" *ngIf="editar">
                                        <img src="assets/Iconos/Editar2.png" style="height: 24px;" (click)="editarHorarioServicio(horario)">
                                    </td>
                                    <td style="width: 60px;" *ngIf="editar">
                                        <img src="assets/Iconos/Cancelar.png" style="height: 24px;" (click)="eliminarHorarioServicio(horario)">
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                        <button *ngIf="editar" class="btn-outline-success btn btn-sm" (click)="agregarHorarioServicio(servicioprograma)"><img style="width: 24px;" src="assets/Iconos/Agregar.png"> Agregar Hora</button>
                    </div>
                    <p *ngIf="servicioprograma.jornada === 'virtual'">Virtual</p>

                    <p class="text-danger" *ngIf="servicioprograma.docente">Tomado por {{ servicioprograma.docente | capitalizado }}</p>
                </td>
                <td *ngIf="editar">
                    <img src="assets/Iconos/Ver.png" style="height: 32px;" (click)="verServicioPrograma(servicioprograma)">
                </td>
                <td *ngIf="editar">
                    <img src="assets/Iconos/Editar.png" style="height: 32px;" (click)="editarServicioPrograma(servicioprograma)">
                </td>
                <td *ngIf="editar">
                    <img src="assets/Iconos/Eliminar.png" style="height: 32px;" (click)="eliminarServicioPrograma(servicioprograma)">
                </td>
            </tr>
        </tbody>
    </table>

    <div class="alert alert-warning" role="alert" *ngIf="ServiciosPrograma.length === 0">
        <p style="font-size: 16px;">No hay servicios registrados para este periodo</p>
    </div>
</div>