<div class="m-3">
    <h3>Mayo del 2021</h3>
    <hr>

    <h5>Estadísticas de Facultades</h5>
    <ol>
        <li>Se formateo el tamaño de las tarjetas de gráficas en el análisis gráfico del reporte de horas por facultad.</li>
        <li>Se modifico el título del gráfico de Cantidad de Horas de Prestación de Servicios, añadiendo el elemento (Docencia sin Factor)</li>
        <li>Se crearon dos atributos en la tabla de facultades, orden y nombreCorto, que permiten realizar ciertas consultas para las estadísticas</li>
        <li>Se ordeno la gráfica de Cantidad de Horas de Prestación de Servicios por un orden establecido en la base de datos, y se pusieron nombres mas cortos a las facultades.</li>
        <li>Se pusieron los nombres de tipos de contratos en mayúsculas.</li>
        <li>Se cambio en las gráficas de horas por facultad de docente el título que dice como se cálculo el porcentaje de horas de los docentes por facultades (En la pestaña se dio un título que dice: Reporte de Afinidad (Horas sin Factor))</li>
        <li>Se realizó un diseño mas ordenado para las gráficas de cada uno de los docentes mostrando tarjetas por filas y columnas, en la cual el Zoom de la página puede lograr varias tarjetas por columna.</li>
        <li>Se creo una pestaña nueva, llamada <b>Análisis de Horas</b> en la cuál se pueden configurar varias tipos de gráficos y de diferentes formas.</li>
        <li></li>
        <li></li>
    </ol>

    <h5>Menú Acerca de ...</h5>
    <ol>
        <li>Se crearon cinco (5) menús para el Acerca de ..., estos son:
		<ul>
			<li>¿Qué es SIAP?: Menú para mostrar un resumen acerca de la plataforma</li>
			<li>Actualizaciones: Menú para mostrar cómo va avanzando la aplicación en su desarrollo.</li>
			<li>Manual de Ayuda: Muestra una página con unas secciones temáticas que ayudaran a quienes administran la plataforma a realizar las actividades correspondientes a la misma.</li>
			<li>Gestión de Errores: Es un menú que permite determinar en que puntos de la aplicación suceden errores para corregirlos en futuras actualizaciones.</li>
			<li>Tareas Pendientes: Muestra una lista de todas las tareas que quedan pendientes por desarrollar en la plataforma.</li>
		</ul>
		</li>
        <li>Se creo un manual de ayuda para la aplicación el cual se llenará con cada una de las nuevas actualizaciones.</li>
        <li></li>
    </ol>

    <h5>Procesos Académicos</h5>
    <ol>
        <li></li>
        <li></li>
        <li></li>
    </ol>
	
	<h5></h5>
    <ol>
        <li></li>
        <li></li>
        <li></li>
    </ol>


    <h3>Abril del 2021</h3>
    <hr>

    <ol>
        <li>Se crearon las gráficas para: (1) Cantidad de horas de prestación de servicios por facultad y tipo de contrato y (2) Ejes misionales por tipo de contrato.</li>
        <li>Se creo un sistema de tarjetas para visualizar las estadísticas de servicios prestados por los docentes en cada facultad.</li>
        <li>Se creo un formulario para visualizar de forma mas grande las gráficas estadísticas.</li>
        <li>Se cambio el título a la gráfica <b>Ejes misionales por tipo de contrato</b></li>
        <li>Se agrego totalización de datos en la tabla de horas por facultad y distribución de horas por ejes misionales en los tipos de contrato.</li>
        <li>Se arreglo el problema de graficación de barras que no aparecian. El problema era que no estaba convirtiendo de forma correcta los números decimales.</li>
        <li>Se creo una nueva estadística mostrando una gráfica de tipo pastel para la clasificación de docentes por tipo de contrato.</li>
        <li>Se cambio el título de la ventana Seleccionar Docente ..., por solo Seleccionar ...</li>
        <li>Se creo formulario para generar texto del Acta del Consejo Curricular</li>
        <li>Se cambio título <b>Acta de la propuesta</b> por <b>Fecha de Inicio del Trabajo de Grado</b> y se dejo en formato de Fecha.</li>
        <li>Se agrego una lista desplegable a la evaluación de la propuesta.</li>
        <li>Se creo un diseño de tres columnas para la evaluación</li>
        <li>Se creo una lista desplegable para la calificación final.</li>
        <li>Se genero una nueva estructura de presentación de los datos en el formulario de trabajos de grado bajo los siguientes títulos: (1) Datos básicos, (2) Tipología del Trabajo, (3) Dirección del Trabajo de grado, (4) Jurados, (5) Evaluación, (6) Estado
            del proyecto y (7) Aspectos informativos. Además se crearon columnas para algunos casillas que tienen la misma tipología.</li>
        <li>Se suprimio el atributo estado de avance.</li>
        <li>Se creo un menú para trabajos de grado, con la finalidad de gestionar las modalidades de trabajos de grado, áreas de profundización, grupos de investigación y la forma de cómo se visualizarán los trabajos, es decir, por tarjetas, por lista o por
            descripciones.</li>
        <li>Se creo un formulario para editar y visualizar a los directores y jurados de trabajos de grado.</li>
        <li>Se implemento el método de editar y eliminar trabajos de grado.</li>
    </ol>

    <h3>Noviembre del 2020</h3>
    <hr>

    <ol>
        <li>Se actualizo el sistema de creación de servicios</li>
        <li>Se cambio la palabra Egresados por Graduados</li>
        <li>Se creo un sistema para controlar los periodos, y se agregaron el número máximo de horas que puede tener cada tipo de contrato, por periodo.</li>
        <li>Se agrego la columna de horas por factor a las agendas de contrato y carrera</li>
        <li>Se cambio el color del texto de las agendas</li>
        <li>Se filtro lista de docentes - sólo activos</li>
        <li>Se arreglo validación de materias/servicios viartuales para docentes de carrera</li>
        <li>Se puso nombre del docente en la opción de Guardar como PDF de las Agendas.</li>
        <li>Se creo un sistema de control para el estado de las Agendas</li>

    </ol>

    <h3>Octubre del 2020</h3>
    <hr>

    <ol>
        <li>Se creo el sistema para modalidades de trabajos de grado</li>
        <li>Se creo el sistema para áreas de profundización de trabajos de grado</li>
        <li>Se creo el sistema para registrar los egresados del programa de Licenciatura en Matemáticas</li>
        <li>Se creo el sistema para registrar y crear grupos de investigación</li>
    </ol>

    <h3>Junio del 2020</h3>
    <hr>

    <ol>
        <li>Se creo algoritmo para validar el cruce de horas de los docentes</li>
        <li>Se agregaron los filtros de búsqueda de docentes, por documento de identificación, por nombre, por categoría y por tipo de contrato</li>
        <li>Se agrego nueva propiedad "activo: texto" a la tabla de docentes</li>
        <li>Se agrego propiedad "salón: texto" a la tabla de horarios</li>
        <li>Se crearon las propiedades "jornda: texto" y "grupo: texto" para la tabla de servicios de programas</li>
        <li>Se agrego un Slide para mostrar el modo edición de los servicios de programas</li>
        <li>Se agrego opción para desasociar a un docente de un servicio desde el dialogo de agregar servicios</li>
        <li>Se creo el componente para crear tipos de contratos de docentes</li>
        <li>Se creo el componente para crear las categorías de docentes</li>
        <li>Se mejoró el aspecto visual del dialogo de confirmación</li>
        <li>Se creo el componente para crear y editar perfiles de docentes</li>
        <li>Se creo un componente para gestionar los errores producidos en la aplicación</li>
        <li>Se creo un sistema para guardar las fotos de los docentes</li>
        <li>Se registraron 52 docentes del programa</li>
        <li>Se creo sistema para ordenar los perfiles de los docentes por nombre, documento, correo, telefono, tipo contrato y categoría</li>
        <li>Se creo componente para registrar facultades</li>
        <li>Se creo componente para registrar programas</li>
    </ol>
</div>
