<div class="modal-footer">
    <button [value]="'Trabajos_de_Grado.xls'" class="input-group-append btn btn-outline-success" onclick="crearExcel('trabajos-grado', value)">Descargar</button>
</div>

<table class="table table-hover table-responsive" id="trabajos-grado">
    <thead>
        <tr>
            <th>No</th>
            <th>Título</th>
            <th>Estudiante(s)</th>
            <th>Director</th>
            <th>Codirector (Si Aplica)</th>
            <th>Acta de la Propuesta</th>
            <th>Jurado (Revisor)</th>
            <th>Jurado 2</th>
            <th>Jurado 3</th>
            <th>Modalidad</th>
            <th>Área de Profundización</th>
            <th>Grupo de Investigación</th>
            <th>Evaluación Prpuesta</th>
            <th>Evaluación Trabajo Escrito</th>
            <th>Evaluación Sustentación</th>
            <th>Calificación Final</th>
            <th>Fecha de Inicio Ejecución</th>
            <th>Fecha de Sustentación</th>
            <th>Estado del Trabajo de Grado</th>
            <th>Meses en Ejecución</th>
            <th>Se ceden los derechos</th>
        </tr>
    </thead>

    <tbody>
        <tr *ngFor="let trabajo of TrabajosGrado; let id = index">
            <td>{{ id + 1 }}</td>
            <td>{{ trabajo.titulo | capitalizado }}</td>
            <td>
                <table>
                    <tr>
                        <td *ngIf="trabajo.estudiante1">{{ trabajo.estudiante1 | capitalizado }}</td>
                    </tr>
                    <tr>
                        <td *ngIf="trabajo.estudiante2">{{ trabajo.estudiante2 | capitalizado }}</td>
                    </tr>
                    <tr>
                        <td *ngIf="trabajo.estudiante3">{{ trabajo.estudiante3 | capitalizado }}</td>
                    </tr>
                </table>
            </td>
            <td>{{ trabajo.director.nombre | capitalizado }}</td>
            <td>{{ trabajo.codirector.nombre | capitalizado }}</td>
            <td>{{ trabajo.actapropuesta | capitalizado }}</td>
            <td>{{ trabajo.jurado1.nombre | capitalizado }}</td>
            <td>{{ trabajo.jurado2.nombre | capitalizado }}</td>
            <td>{{ trabajo.jurado3.nombre | capitalizado }}</td>
            <td>{{ trabajo.modalidad.nombre | capitalizado }}</td>
            <td>{{ trabajo.areaProfundizacion.nombre | capitalizado }}</td>
            <td>{{ trabajo.grupoInvestigacion.nombre | capitalizado }}</td>
            <td>{{ trabajo.evaluacionpropuesta | capitalizado }}</td>
            <td>{{ trabajo.evaluaciontrabajoescrito | capitalizado }}</td>
            <td>{{ trabajo.evaluacionsustentacion | capitalizado }}</td>
            <td>{{ trabajo.calificacionfinal | capitalizado }}</td>
            <td>{{ trabajo.fechainicioejecucion | capitalizado }}</td>
            <td>{{ trabajo.fechasustentacion | capitalizado }}</td>
            <td>{{ trabajo.estadoproyecto | capitalizado }}</td>
            <td>{{ trabajo.cantidadsemestresejecucion.Meses | capitalizado }}</td>
            <td>{{ trabajo.estudiantecedederechos | capitalizado }}</td>

        </tr>
    </tbody>
</table>
