<h1>Concurso MAT10G</h1>
<hr>

<p class="text-justify">Los estudiantes de la Licenciatura en Matemáticas harán una presentación de 10 minutos y con máximo 5 diapositivas de un avance de su trabajo de grado. Este concurso es un reto académico que impulsa a los estudiantes a valorar la capacidad de síntesis,
    la claridad y la coherencia de su presentación. Esta iniciativa es una adaptación del concurso “Tesis en tres minutos” que se hace en diversas universidades a nivel internacional (se recomienda conocer la experiencia de la Universidad Nacional de
    Colombia en la dirección: <a href="http://www.posgrados.unal.edu.co/tesis3minutos/">http://www.posgrados.unal.edu.co/tesis3minutos/</a></p>

<h2>Reglas del concurso MATG10M</h2>
<hr>

<ul>
    <li class="text-justify">Sólo se permiten cinco diapositivas por participante, el uso de más o menos diapositivas deja al estudiante descalificado para la premiación, pero tiene derecho a terminar su presentación.</li>
    <li class="text-justify">No se permite la utilización de otros medios electrónicos como audio, video o luces, como tampoco el uso de utilería (disfraces, instrumentos musicales, equipos de laboratorio, sonidos de fondo, etc.).</li>
    <li class="text-justify">La duración de cada intervención se limita a 10 minutos. Los participantes que excedan dicho tiempo serán interrumpidos en su presentación y quedarán descalificados automáticamente. Lo mismo sucederá si la presentación no llega a los nueve minutos.</li>
    <li class="text-justify">Las presentaciones se deben desarrollar de manera hablada y no se permite recitar poemas, rapear o cantar.</li>
    <li class="text-justify">El tiempo se empezará a contar a partir del inicio de la disertación por parte del expositor.</li>
    <li class="text-justify">Al momento de la evaluación, los jurados no tendrán en cuenta el porcentaje de avance, es decir, pueden participar estudiantes que apenas estén iniciando o bien, se encuentren en fase final de su trabajo de grado.</li>
    <li class="text-justify">Ninguno de los jurados podrá tener estudiantes que se encuentren participando en el concurso.</li>
    <li class="text-justify">La decisión del jurado es definitiva y no puede ser controvertida ni apelada.</li>
    <li class="text-justify">El ganador del concurso será el estudiante que obtenga mayor calificación, después de ponderar las calificaciones parciales de los diferentes aspectos que se discriminan en el cuadro anexo.</li>
    <li class="text-justify">En caso de empate en los puntajes del primer puesto, el jurado definirá por consenso, quien será el participante ganador.</li>
    <li class="text-justify">El ganador de este concurso no será considerado para premiación del EMEM 2021, aunque podrá participar en caso de aún no haber concluido su trabajo de grado.</li>
    <li class="text-justify">Los estudiantes ganadores recibirán una mención escrita firmada por el director del programa y la coordinadora del evento, y también y un bono de compra por $ 100.000 cada uno.</li>
</ul>

<p><b>Nota:</b> para la evaluación de las presentaciones de avance de Trabajo de Grado se invitarán profesores de cada una de las áreas, y se ha diseñado una rúbrica enfocada en la presentación, pero que no pretende evaluar el Trabajo de Grado en sí mismo,
    pues para ello el programa cuenta con los instrumentos definidos en el reglamento de trabajos de grado.</p>

<h2>Rubrica evaluación <b>del concurso MATG10M</b></h2>
<hr>

<table class="table table-bordered mb-5 bg-light">
    <tbody>
        <tr>
            <th>Estudiante</th>
            <td></td>
            <th>Calificación</th>
        </tr>

        <tr>
            <th>Aspecto a Evaluar</th>
            <td>Porcentaje</td>
            <td>Calificación de 0 a 5</td>
        </tr>

        <tr>
            <td>
                <p><b>Contenidos.</b></p>
                <p>Las diapositivas deben contener mínimamente la siguiente información:</p>

                <ul class="text-justify">
                    <li>Título del trabajo, datos del participante, datos del director y el nombre del grupo de investigación</li>
                    <li>Contextualización del problema</li>
                    <li>Avances de la investigación</li>
                    <li>Aspectos pendientes</li>
                    <li>Referencias bibliográficas. Puede ser una diapositiva final o en pie de página</li>
                </ul>
            </td>

            <td>25%</td>
            <td></td>
        </tr>

        <tr>
            <td>
                <p><b>Estética.</b></p>
                <p class="text-justify">Las diapositivas deben evidenciar una correcta distribución de la información, evitando saturación de párrafos o exceso de figuras. Deben además contener imágenes de buena calidad, márgenes adecuadas y excelente ortografía.</p>
            </td>
            <td>25%</td>
            <td></td>
        </tr>

        <tr>
            <td>
                <p><b>Dominio del tema.</b></p>
                <p>Además de los conocimientos sobre el tema, también se tiene en cuenta la presentación oral, la expresividad, y el uso adecuado del lenguaje matemático.</p>
            </td>
            <td>25%</td>
            <td></td>
        </tr>

        <tr>
            <td>
                <p><b>Pertinencia</b></p>
                <p>La presentación evidencia que el estudiante ha trascendido y/o profundizado en los temas estudiantes en el pregrado, vislumbrando además un buen inicio en su formación investigativa. </p>
            </td>
            <td>25%</td>
            <td></td>
        </tr>
    </tbody>
</table>
