<div>
    <div class="m-3">
        <div class="row">

            <div class="col-md-9">

                <div class="media">
                    <img src="assets/Imagenes/logo_emem.jpeg" style="width: 250px" class="mr-3" alt="Afiche2019">
                    <div class="media-body text-center">
                        <h1 class="display-4" style="color: #138BEA">Workshop EMEM 2019</h1>
                        <h2 style="color: #009933">Universidad del Quindío</h2>
                        <h3 style="color: #000066">Facultad de Ciencias de la Educación</h3>
                        <h4 style="color: #F03B5E">Programa de Licenciatura en Matemáticas</h4>

                        <div class="" style="height: 50px"></div>

                        <h1 class="text-center">{{ tituloEmem }}</h1>
                    </div>
                </div>

            </div>

            <div class="col-md-3">
                <h6>Evento del Programa de Licenciatura en Matemáticas de la Universidad del Quindío</h6>
                <hr>

                <h6><b>Actualización:</b> {{ fechaActualizacion }}</h6>

                <p style="color: #000066"><b>Noviembre 5 al 7 del 2019</b></p>

                <div class="alert alert-info text-center" role="alert">
                    <h2>Visitas: {{ visitasPagina }}</h2>
                </div>
            </div>
        </div>
    </div>
</div>

<nav class="navbar navbar-expand-lg navbar-dark bg-azul-oscuro">
    <a class="navbar-brand text-white uk-text-bold">Workshop EMEM</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
</button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto puntero-manito">
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" [routerLink]="['emem-workshop', 'inicio']">Inicio</a>
            </li>

            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" (click)="IrAPagina(['emem-workshop', 'inscripciones'])">Inscripciones</a>
            </li>

            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" (click)="IrAPagina(['emem-workshop', 'resumenes'])">Resúmenes</a>
            </li>

            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" (click)="IrAPagina(['emem-workshop', 'cronograma'])">Cronograma</a>
            </li>

            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" (click)="IrAPagina(['emem-workshop', 'cursillos'])">Talleres</a>
            </li>

            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" (click)="IrAPagina(['emem-workshop', 'certificados'])">Certificados</a>
            </li>
        </ul>
    </div>
</nav>

<router-outlet></router-outlet>
