<br>
<p class="text-justify">El Workshop en Educación Matemática, Estadística y Matemática EMEM, es un evento académico que desde el año 2015 busca la integración de estudiantes, profesores y graduados del Programa de Licenciatura en Matemáticas de la Universidad del Quindío, con
    el objeto de propiciar el intercambio de experiencias académicas entre sus participantes.</p>

<p class="text-justify">En su primera versión el Workshop logró reunir a más de 200 personas de la comunidad académica del Programa y para este año se espera contar con un número igual de significativo de participantes tanto de nuestra institución como de otras instituciones
    del departamento.</p>

<p class="text-justify">Este año el evento se llevará a cabo del 5 al 6 de noviembre en las instalaciones de la Universidad del Quindío, manteniendo el objetivo de difundir temas de Educación Matemática, Estadística y Matemática, así como de propiciar espacios que permitan el
    intercambio del conocimiento y fomente la participación de nuestros estudiantes en eventos académicos.</p>

<img src="assets/Imagenes/participantes.jpg" alt="Universidad del Quindío" class="mx-auto d-block" style="height: 96px">