<div class="m-3">
    <div class="row">
        <div class="col-md-3">
            <div class="card shadow">
                <div class="card-header bg-dark">
                    <h3 class="card-title text-white text-center">Opciones para el Plan de Mejoramiento</h3>
                </div>

                <div class="card-body">
                    <ul class="list-group-flush list-group">
                        <li class="list-group-item list-group-item-action puntero-manito" (click)="abrirRuta(menu)" *ngFor="let menu of Menus">
                            <div class="media">
                                <img class="mr-3" [src]="menu.imagen" style="width: 48px;">
                                <div class="media-body">
                                    <h3 class="text-info">{{ menu.nombre }}</h3>
                                    <p>{{ menu.descripcion }}</p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="col-md-9">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>
