<div class="m-3">

    <div class="mb-5">
        <h1 class="text-success">FAVORITOS</h1>
        <hr>

        <div class="row m-3">

            <!-- BOTÓN -->
            <div *ngFor="let favorito of Favoritos" class="col-md-2 text-center puntero-manito animate__rubberBand animate__animated" (click)="abrirMenu2(favorito)">
                <img style="margin: 5px; height: 120px;" [src]="'assets/Iconos/' + favorito.icono" alt="Descargar">
                <div class="text-center" style="height: 65px;">
                    <p>{{ favorito.titulo | capitalizado }}</p>
                </div>
            </div>
        </div>
    </div>

    <div *ngFor="let menu of Menus" class="mb-5">
        <h1 class="text-success">{{ menu.Titulo | uppercase }}</h1>
        <hr>

        <div class="row m-3">

            <!-- BOTÓN -->
            <div *ngFor="let boton of menu.Botones" class="col-md-2 text-center puntero-manito animate__rubberBand animate__animated" (click)="abrirMenu(boton)">
                <img style="margin: 5px; height: 120px;" [src]="'assets/Iconos/' + boton.Icono" alt="Descargar">
                <div class="text-center" style="height: 65px;">
                    <p>{{ boton.Titulo }}</p>
                </div>
            </div>
        </div>
    </div>
</div>