<div class="row m-3">

    <!-- FACTOR DE PROCESOS ACADÉMICOS -->
    <div class="col-md-2 text-center puntero-manito animate__rubberBand animate__animated" (click)="abrirMenu('procesos-academicos')">
        <img style="margin: 5px; height: 120px;" src="assets/Iconos/procesos-academicos.svg" alt="Descargar">
        <div class="text-center text-success" style="height: 65px;">
            <p class="font-menu-factor">Procesos Académicos</p>
        </div>
    </div>

    <!-- FACTOR DE ESTUDIANTES -->
    <div class="col-md-2 text-center puntero-manito animate__rubberBand animate__animated" (click)="abrirMenu('estudiantes')">
        <img style="margin: 5px; height: 120px;" src="assets/Iconos/estudiantes.svg" alt="Descargar">
        <div class="text-center text-success" style="height: 65px;">
            <p class="font-menu-factor">Estudiantes</p>
        </div>
    </div>

    <!-- FACTOR DE DOCENTES -->
    <div class="col-md-2 text-center puntero-manito animate__rubberBand animate__animated" (click)="abrirMenu([])">
        <img style="margin: 5px; height: 120px;" src="assets/Iconos/docentes.svg" alt="Descargar">
        <div class="text-center text-success" style="height: 65px;">
            <p class="font-menu-factor">Docentes</p>
        </div>
    </div>

    <!-- FACTOR DE INTERNACIONALIZACION -->
    <div class="col-md-2 text-center puntero-manito animate__rubberBand animate__animated" (click)="abrirMenu('internacionalizacion')">
        <img style="margin: 5px; height: 120px;" src="assets/Iconos/internacionalizacion.svg" alt="Descargar">
        <div class="text-center text-success" style="height: 65px;">
            <p class="font-menu-factor">Internacionalización</p>
        </div>
    </div>

    <!-- FACTOR DE INVESTIGACIÓN -->
    <div class="col-md-2 text-center puntero-manito animate__rubberBand animate__animated" (click)="abrirMenu('investigacion')">
        <img style="margin: 5px; height: 120px;" src="assets/Iconos/microscopio.svg" alt="Descargar">
        <div class="text-center text-success" style="height: 65px;">
            <p class="font-menu-factor">Investigación</p>
        </div>
    </div>

    <!-- FACTOR DE EXTENSIÓN -->
    <div class="col-md-2 text-center puntero-manito animate__rubberBand animate__animated" (click)="abrirMenu('extension')">
        <img style="margin: 5px; height: 120px;" src="assets/Iconos/extension.svg" alt="Descargar">
        <div class="text-center text-success" style="height: 65px;">
            <p class="font-menu-factor">Extensión y Gestión del Graduado</p>
        </div>
    </div>

</div>