<div class="row m-3">

    <div class="col-md-9">
        <h3>SIAP</h3>
        <hr>

        <p class="text-justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam sed iaculis risus, quis scelerisque nisi. Vivamus imperdiet massa nec condimentum ultrices. Nullam in augue id mauris faucibus viverra. Mauris sem tellus, gravida vitae sollicitudin
            sed, convallis a lectus. Vivamus viverra dui ac auctor fermentum. Suspendisse eget est tortor. Curabitur vehicula augue ac sapien molestie laoreet. Quisque semper lobortis dui, eget accumsan ante vehicula quis. Sed non aliquet nunc, vitae
            sodales felis. Aenean auctor risus sed hendrerit pulvinar. Interdum et malesuada fames ac ante ipsum primis in faucibus. Praesent vel cursus lectus, id elementum odio. Fusce sit amet tortor quis purus iaculis viverra sed quis nisl. Sed molestie
            nunc enim.</p>

        <img class="img-fluid" src="assets/Imagenes/MapaAutoevaluacion.png">
    </div>

    <div class="col-md-3">
        <div class="card card-shadow" style="margin-top: 30px">

            <div class="card-header bg-success text-white text-center">
                <h3>Inicio de Sesión</h3>
            </div>

            <div class="card-body">

                <form>

                    <div class="form-group">
                        <label style="font-weight: bold">Usuario</label>
                        <input class="form-control" type="text" [(ngModel)]="usuario.cedula" name="cedula" placeholder="Ingrese su número de cédula">
                    </div>

                    <div class="form-group">
                        <label style="font-weight: bold">Contraseña</label>
                        <input class="form-control" type="password" [(ngModel)]="usuario.contra" name="contra" placeholder="Ingrese su contraseña">
                    </div>

                    <button class="btn btn-warning mx-auto d-block" (click)="ingresar()">Ingresar</button>

                </form>

            </div>

        </div>
    </div>
</div>