<h1>Preinscripciones al Evento</h1>
<hr>

<div class="alert alert-warning">
    <h3>Nota Importante</h3>
    <hr>

    <p>Para recibir un certificado de acuerdo a su tipo de participación debe inscribirse y agregar los tipos de participación que tendrá en el evento, ya sea como asistente y/o ponente.</p>
</div>

<div class="row mb-5">
    <div class="col-md-6">
        <h3>Preinscripciones</h3>
        <hr>

        <p class="text-justify">El proceso de preinscripción lo deben realizar todos los participantes del evento y se hace ingresando en la página web: http://workshopemem.jprincon.com/. Se preinscriben diligenciando la información que solicita el formulario (según su categoría
            de Conferencista, Ponente, Estudiante con avance de trabajo de grado o Asistente). Luego de iniciar sesión tendrán acceso a la sección de resúmenes donde podrán ingresar la información detallada. </p>

        <h3>Inscripción</h3>
        <hr>

        <p class="text-justify">Finalmente, la inscripción se deberá hacer oficialmente mediante el Proceso de Inscripción Académica (PIA) de la Universidad del Quindío, en el enlace: <a target="blank" href="https://sac.uniquindio.edu.co/sgacampus/inscripciones.jsp#home">Enlace de inscripción PIA</a>.
            <b>Esta parte del proceso es fundamental para la obtención de certificados
    de participación en el evento.</b></p>

        <h3>Tipos de Certificados</h3>
        <hr>

        <ul>
            <li>Conferencista (con titulo de la conferencia), </li>
            <li>Ponente (con titulo de la ponencia)</li>
            <li>Estudiante con avance de trabajo de grado (Con el nombre del TG)</li>
            <li>Asistente </li>
        </ul>
    </div>

    <div class="col-md-6">
        <div align="center">
            <img src="assets/Imagenes/Proceso_de_Inscripcion.png" style="width: 90%;">
        </div>
    </div>
</div>
