<div class="m-5">
    
	<ul>
        <li>Subir acta de resolución de ascenso de los docentes a la plataforma</li>
        <li></li>
        <li></li>
        <li>Crear la posibilidad de duplicar un servicio para otro semestre. Al duplicarse se debe llevar las aulas y los docentes</li>
        <li>Exportar los servicios a Word (En formato que me van a enviar)</li>
        <li></li>
        <li></li>
        <li>Para el evento EMEM crear una aplicación para crear el evento cada año desde la página y en la cual se pueda incluir la información de forma dinámica</li>
        <li>Crear la tabla de funciones docentes</li>
        <li>Crear estadísticas de históricos de agendas, por programa y por facultad, por docente</li>
        <li>Exportar páginas de servicios por docentes</li>
        <li>Crear una tabla de ofertas para el programa con los servicios del propio programa</li>
        <li>Crear una propiedad en los servicios que se llame semestre, para poder vincularlos con las ofertas del programa</li>
        <li>Crear la base de datos de los microcurriculos</li>
    </ul>
	
	
	<h3>Preguntas e Inquietudes</h3>
	<hr>
	
	<ul>
		<li>Cómo se debe ingresar las materias a distancia. Para organizar puse 5 semanas por 4 horas lo que da 20 horas. ¿Esta bien?</li>
	</ul>
</div>
