<h1>Manual Técnico</h1>
<hr>

<p>A continuación se presenta la descripción de cada uno de los menus de la aplicación</p>

<h2>Inicio</h2>
<hr>

<p class="text-justify">El menú inicio, contiene información de las actividades recientes del programa, y el formulario para acceder al menú de la aplicación. Para acceder a la plataforma el Adminstrador debe registrar a los usuario con los datos básicos que son:</p>
<ul>
    <li>Documento de Identificación</li>
    <li>Nombre</li>
    <li>Correo</li>
    <li>Contraseña temporal</li>
</ul>

<p class="text-justify">Para iniciar sesión ingrese su documento de identificación en Usuario y su respectiva contraseña. Al hacer clic en [Ingresar] la App-Web lo llevará al menú principal, desde el cual puede Adminstrar toda la plataforma</p>

<div class="m-5">
    <app-inicio></app-inicio>
</div>

<h2>Menu Principal - Factores</h2>
<hr>

<p class="text-justify">El menú principal contiene los factores que componen al programa en los aspectos, administrativos, acádemicos e investigativos</p>

<div class="m-5">
    <app-menu-principal></app-menu-principal>
</div>

<p class="text-justify">Al hacer clic en uno de los factores y dependiendo del rol que tenga el usuario podrá administrar los procesos que esten relacionados con tal proceso</p>