<h3>Participante</h3>
<hr>

<table class="table table-hover">
    <thead class="table-success">
        <tr>
            <th>Propiedad</th>
            <th>Valor</th>
        </tr>
    </thead>

    <tbody>
        <tr>
            <th>Cédula</th>
            <td>{{ participante.cedula }}</td>
        </tr>

        <tr>
            <th>Nombre</th>
            <td>{{ participante.nombre }}</td>
        </tr>

        <tr>
            <th>Correo</th>
            <td>{{ participante.correo }}</td>
        </tr>

        <tr>
            <th>Tipo de Participación</th>
            <td>{{ participante.tipoParticipacion }}</td>
        </tr>

        <tr>
            <th>Afiliación</th>
            <td>{{ participante.afiliacion }}</td>
        </tr>

        <tr>
            <th>Lugar de Trabajo</th>
            <td>{{ participante.lugarTrabajo }}</td>
        </tr>
    </tbody>
</table>
