<div class="text-center" style="margin: 20px;" *ngIf="leyendo">
    <i class="fas fa-sync fa-10x text-success fa fa-spin"></i>
    <h3>Leyendo Docentes ...</h3>
</div>

<div class="m-3" *ngIf="!leyendo">

    <h3 class="float-left">{{ resultados }}</h3>

    <div class="dropdown">
        <button class="btn btn-outline-info dropdown-toggle float-right m-1" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <img src="assets/Iconos/Ordenar.png" class="icono32h"> Ordenar Lista por
        </button>
        <div class="dropdown-menu puntero-manito" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" (click)="cambiarTipoOrden('documento')">Documento</a>
            <a class="dropdown-item" (click)="cambiarTipoOrden('nombre')">Nombre</a>
            <a class="dropdown-item" (click)="cambiarTipoOrden('correo')">Correo</a>
            <a class="dropdown-item" (click)="cambiarTipoOrden('telefono')">Teléfono</a>
            <a class="dropdown-item" (click)="cambiarTipoOrden('contrato')">Tipo Contrato</a>
            <a class="dropdown-item" (click)="cambiarTipoOrden('categoria')">Categoria</a>
        </div>
    </div>

    <button class="btn btn-outline-success float-right m-1" (click)="agregarDocente()"><img src="assets/Iconos/Agregar.png" class="icono32h"> Agregar Docente</button>

    <table class="table table-hover puntero-manito">
        <thead class="table-dark">
            <tr>
                <th>No</th>
                <th>Documento de Identificación</th>
                <th>Foto</th>
                <th>Nombre</th>
                <th>Teléfono</th>
                <th>Correo</th>
                <th>Categoría</th>
                <th>Tipo Contrato</th>
                <th>Ver</th>
                <th>Editar</th>
                <th>Eliminar</th>
            </tr>
        </thead>

        <tbody>
            <tr>
                <td></td>
                <td>
                    <input class="form-control" [(ngModel)]="documento" name="documento" (keyup)="buscarPorDocumento()">
                </td>
                <td></td>
                <td>
                    <input class="form-control" [(ngModel)]="termino" name="termino" (keyup)="buscarPorNombre()">
                </td>
                <td></td>
                <td></td>
                <td>
                    <select class="custom-select" [(ngModel)]="categoriaDocente" name="categoriaDocente" (change)="buscarPorCategoria()">
                      <option value="Todas">Todas</option>
                      <option [value]="categoria.categoria" *ngFor="let categoria of Categorias">{{categoria.categoria | capitalizado}}</option>
                    </select>
                </td>
                <td>
                    <select class="custom-select" [(ngModel)]="tipoContrato" name="tipoContrato" (change)="buscarPorTipoContrato()">
                      <option value="Todos">Todos</option>
                      <option [value]="contrato.contrato" *ngFor="let contrato of tiposContrato">{{contrato.contrato | capitalizado}}</option>
                    </select>
                </td>
                <td></td>
                <td></td>
                <td></td>
            </tr>

            <tr *ngFor="let docente of bDocentes; let id = index" [ngClass]="{'text-danger': docente.activo === 'no', 'text-dark': docente.activo === 'si'}">
                <td>{{ id + 1 }}</td>
                <td>{{ docente.documento | number }}</td>
                <td>
                    <img [src]="docente.foto | noImagen" [alt]="docente.nombre" style="width: 96px; height: 96px; border-radius: 100%;">
                </td>
                <td class="font-weight-bold">{{ docente.nombre | capitalizado }}</td>
                <td>{{ docente.telefono }}</td>
                <td>{{ docente.correo }}</td>
                <td>{{ docente.categoria | capitalizado }}</td>
                <td>{{ docente.contrato | capitalizado }}</td>
                <td>
                    <img src="assets/Iconos/Ver.png" style="height: 32px;" (click)="verDocente(docente)">
                </td>
                <td>
                    <img src="assets/Iconos/Editar.png" style="height: 32px;" (click)="editarDocente(docente)">
                </td>
                <td>
                    <img src="assets/Iconos/Eliminar.png" style="height: 32px;" (click)="eliminarDocente(docente)">
                </td>
            </tr>
        </tbody>
    </table>
</div>