<h1>Modalidades de Participación</h1>
<hr>

<ol>
    <li class="text-justify"><span class="font-weight-bold"> Concurso “Mejor avance de trabajo de grado en 10 minutos”.</span> Los estudiantes de la Licenciatura en Matemáticas harán una presentación de 10 minutos y con máximo 5 diapósitivas de un avance de su trabajo de grado.
        Se valora la capacidad de síntesis, la claridad y coherencia de la presentación.</li>

    <li class="text-justify"><span class="font-weight-bold">Conferencias.</span> Tres conferencias plenarias de 60 minutos (incluido el tiempo para preguntas) en las áreas del evento Educación Matemática, Estadística y Matemáticas. </li>

    <li class="text-justify"><span class="font-weight-bold">Ponencias.</span>Nueve ponencias de 30 minutos (incluido el tiempo para preguntas) en las áreas del evento Educación Matemática, Estadística y Matemáticas. Las plenarias son simultáneas en grupos de tres, una por cada
        área. </li>
</ol>

<h3>Premiaciones</h3>

<ol>
    <li>Mejor rendimiento académico (un estudiante por cada plan de estudios) </li>
    <li>Mejor presentación de avance de Trabajo de Grado </li>
    <li>Profesor destacado en la presencialidad mediada por tecnologías </li>
</ol>