<app-barra-inicio></app-barra-inicio>

<div class="m-3">
    <router-outlet></router-outlet>
</div>

<app-pie-pagina></app-pie-pagina>

<!-- <div class="alert alert-success m-5">
    <h3>Mantenimiento de la Página</h3>
    <hr>

    <p class="text-justify">Durante una hora la página estará desabilitada, dado que estamos haciendo cambios en la extensión del resumen que pasará de 4500 caractéres como mínimo a 4500 caractéres como máximo.</p>
    <p class="text-justify">Muchas gracias por su atención y comprensión</p>
</div> -->