<h1>Crear/Editar un Periodo</h1>
<hr>

<div class="text-center" style="margin: 20px;" *ngIf="guardando">
    <i class="fas fa-sync fa-10x text-success fa fa-spin"></i>
    <h3>Guardando Periodo ...</h3>
</div>

<div class="text-center" style="margin: 20px;" *ngIf="leyendo">
    <i class="fas fa-sync fa-10x text-success fa fa-spin"></i>
    <h3>Leyendo Periodo ...</h3>
</div>

<form *ngIf="!guardando && !leyendo" ngNativeValidate (ngSubmit)="guardarPeriodo()">
    <div class="form-group">
        <label style="font-weight: bold;">Periodo</label>
        <input type="text" required class="form-control" [(ngModel)]="periodo.periodo" name="periodo">
    </div>

    <button class="btn btn-outline-success float-right"><img src="assets/Iconos/Guardar.png" style="height: 32px;"> Guardar</button>
</form>