<div style="margin-left: 120px; margin-right: 120px; margin-bottom: 20px;">
    <div class="m-5">
        <div class="text-center" style="margin: 20px;" *ngIf="guardando">
            <i class="fas fa-sync fa-10x text-success fa fa-spin"></i>
            <h3>Guardando Trabajo Grado ...</h3>
        </div>

        <div class="text-center" style="margin: 20px;" *ngIf="leyendo">
            <i class="fas fa-sync fa-10x text-success fa fa-spin"></i>
            <h3>Leyendo Trabajo Grado ...</h3>
        </div>

        <form *ngIf="!guardando && !leyendo" ngNativeValidate (ngSubmit)="guardarTrabajoGrado()">
            <h3 class="text-info mt-3">Datos Básicos</h3>
            <!-- %%%%%%% 1 %%%%%%% -->
            <div class="form-group">
                <label style="font-weight: bold;">Título del Trabajo</label>
                <textarea type="text" rows="7" style="text-transform: capitalize;" required class="form-control" [(ngModel)]="trabajogrado.titulo" name="titulo"></textarea>
            </div>

            <!-- %%%%%%% 2 %%%%%%% -->
            <div class="row">
                <div class="form-group col-md-7">
                    <label style="font-weight: bold;">Nombre del Estudiante 1</label>
                    <input type="text" required class="form-control" [(ngModel)]="trabajogrado.estudiante1" name="estudiante1">
                </div>

                <div class="form-group col-md-5">
                    <label style="font-weight: bold;">¿Termino materias?</label>
                    <select type="text" type="number" required class="form-control" [(ngModel)]="trabajogrado.estudiante1_tm" name="estudiante1_tm">
                      <option value="si">Si</option>
                      <option value="no">No</option>
                    </select>
                </div>
            </div>

            <!-- %%%%%%% 3 %%%%%%% -->
            <div class="row" *ngIf="verCamposEstudiantes[1]">
                <div class="form-group col-md-7">
                    <label style="font-weight: bold;">Nombre del Estudiante 2</label>
                    <input type="text" required class="form-control" [(ngModel)]="trabajogrado.estudiante2" name="estudiante2">
                </div>

                <div class="form-group col-md-5">
                    <label style="font-weight: bold;">¿Termino materias?</label>
                    <select type="text" type="number" required class="form-control" [(ngModel)]="trabajogrado.estudiante2_tm" name="estudiante2_tm">
                      <option value="si">Si</option>
                      <option value="no">No</option>
                    </select>
                </div>
            </div>

            <!-- %%%%%%% 4 %%%%%%% -->
            <div class="row" *ngIf="verCamposEstudiantes[2]">
                <div class="form-group col-md-7">
                    <label style="font-weight: bold;">Nombre del Estudiante 3</label>
                    <input type="text" required class="form-control" [(ngModel)]="trabajogrado.estudiante3" name="estudiante3">
                </div>

                <div class="form-group col-md-5">
                    <label style="font-weight: bold;">¿Termino materias?</label>
                    <select type="text" type="number" required class="form-control" [(ngModel)]="trabajogrado.estudiante3_tm" name="estudiante3_tm">
                      <option value="si">Si</option>
                      <option value="no">No</option>
                    </select>
                </div>
            </div>

            <button class="btn btn-outline-success mb-4" (click)="agregarEstudiante()" type="button"><img src="assets/Iconos/Agregar.png" style="width: 32px;"> Agregar Estudiante</button>

            <h3 class="text-info mt-3">Tipología del Trabajo</h3>
            <hr>

            <div class="row">
                <div class="col-md-4">
                    <!-- %%%%%%% 5 %%%%%%% -->
                    <div class="form-group">
                        <label style="font-weight: bold;">Modalidad del Trabajo</label>
                        <select type="text" required class="form-control" [(ngModel)]="trabajogrado.idmodalidad" name="idmodalidad">
                          <option *ngFor="let modalidad of Modalidades" [value]="modalidad.idmodalidad">{{ modalidad.nombre | capitalizado }}</option>
                        </select>
                    </div>
                </div>

                <div class="col-md-4">
                    <!-- %%%%%%% 8 %%%%%%% -->
                    <div class="form-group">
                        <label style="font-weight: bold;">Área de Profundización</label>
                        <select type="text" required class="form-control" [(ngModel)]="trabajogrado.idareaprofundizacion" name="idareaprofundizacion">
                          <option *ngFor="let area of AreasProfundizacion" [value]="area.idareaprofundizacion">{{ area.nombre | capitalizado }}</option>
                        </select>
                    </div>
                </div>

                <div class="col-md-4">
                    <!-- %%%%%%% 9 %%%%%%% -->
                    <div class="form-group">
                        <label style="font-weight: bold;">Grupo de Investigación</label>
                        <select type="text" required class="form-control" [(ngModel)]="trabajogrado.idgrupoinvestigacion" name="idgrupoinvestigacion">
                          <option *ngFor="let grupo of GruposInvestigacion" [value]="grupo.idgrupoinvestigacion">{{ grupo.nombre | capitalizado }}</option>
                        </select>
                    </div>
                </div>
            </div>

            <h3 class="text-info mt-3">Dirección del Trabajo de Grado</h3>
            <hr>

            <!-- %%%%%%% 6 %%%%%%% -->
            <div class="form-group">
                <label style="font-weight: bold;">Nombre del Director</label>
                <div class="input-group">
                    <input type="text" disabled class="form-control" [value]="trabajogrado.director.nombre| capitalizado">
                    <div class="input-group-append">
                        <button class="btn btn-outline-success" type="button" (click)="SeleccionarDocente(4)"> Seleccionar ...</button>
                    </div>
                </div>
            </div>

            <!-- %%%%%%% 7 %%%%%%% -->
            <div class="form-group">
                <label style="font-weight: bold;">Nombre del Codirector (Si Aplica)</label>
                <div class="input-group">
                    <input type="text" disabled class="form-control" [value]="trabajogrado.codirector.nombre | capitalizado">
                    <div class="input-group-append">
                        <button class="btn btn-outline-success" type="button" (click)="SeleccionarDocente(5)"> Seleccionar ...</button>
                    </div>
                </div>
            </div>

            <h3 class="text-info mt-3">Jurados</h3>
            <!-- %%%%%%% 4 %%%%%%% -->
            <div class="form-group">
                <label style="font-weight: bold;">Acta de Nombramiento de Jurados</label>
                <div class="input-group">
                    <input type="text" disabled required class="form-control" [value]="trabajogrado.actanombramientojurados">
                    <div class="input-group-append">
                        <button class="btn btn-outline-success" type="button" (click)="generarActa()"> Generar ...</button>
                    </div>
                </div>
            </div>

            <!-- %%%%%%% 1 %%%%%%% -->
            <div class="form-group">
                <label style="font-weight: bold;">Nombre del Jurado 1 (Revisor de la Propuesta)</label>
                <div class="input-group">
                    <input type="text" disabled class="form-control" [value]="trabajogrado.jurado1.nombre | capitalizado">
                    <div class="input-group-append">
                        <button class="btn btn-outline-success" type="button" (click)="SeleccionarDocente(1)"> Seleccionar ...</button>
                    </div>
                </div>
            </div>

            <!-- %%%%%%% 2 %%%%%%% -->
            <div class="form-group">
                <label style="font-weight: bold;">Nombre del Jurado 2</label>
                <div class="input-group">
                    <input type="text" disabled class="form-control" [value]="trabajogrado.jurado2.nombre  | capitalizado">
                    <div class="input-group-append">
                        <button class="btn btn-outline-success" type="button" (click)="SeleccionarDocente(2)"> Seleccionar ...</button>
                    </div>
                </div>
            </div>

            <!-- %%%%%%% 3 %%%%%%% -->
            <div class="form-group">
                <label style="font-weight: bold;">Nombre del Jurado 3</label>
                <div class="input-group">
                    <input type="text" disabled class="form-control" [value]="trabajogrado.jurado3.nombre  | capitalizado">
                    <div class="input-group-append">
                        <button class="btn btn-outline-success" type="button" (click)="SeleccionarDocente(3)"> Seleccionar ...</button>
                    </div>
                </div>
            </div>

            <h3 class="text-info mt-3">Evaluación</h3>
            <hr>
            <div class="row">
                <div class="col-md-4">
                    <!-- %%%%%%% 5 %%%%%%% -->
                    <div class="form-group">
                        <label style="font-weight: bold;">Evaluación de la Propuesta</label>
                        <select type="text" class="form-control" [(ngModel)]="trabajogrado.evaluacionpropuesta" name="idjurado3">
                          <option value="pendiente">Pendiente</option>
                          <option value="rechazado">Rechazado</option>
                          <option value="aplazado">Aplazado</option>
                          <option value="aprobado">Aprobado</option>
                        </select>
                    </div>
                </div>

                <div class="col-md-4">
                    <!-- %%%%%%% 5 %%%%%%% -->
                    <div class="form-group">
                        <label style="font-weight: bold;">Evaluación del Trabajo Escrito</label>
                        <select type="text" class="form-control" [(ngModel)]="trabajogrado.evaluaciontrabajoescrito" name="evaluaciontrabajoescrito">
                          <option value="pendiente">Pendiente</option>
                          <option value="rechazado">Rechazado</option>
                          <option value="aplazado">Aplazado</option>
                          <option value="aprobado">Aprobado</option>
                        </select>
                    </div>
                </div>

                <div class="col-md-4">
                    <!-- %%%%%%% 5 %%%%%%% -->
                    <div class="form-group">
                        <label style="font-weight: bold;">Evaluación de la Sustentación</label>
                        <select type="text" class="form-control" [(ngModel)]="trabajogrado.evaluacionsustentacion" name="evaluacionsustentacion">
                          <option value="pendiente">Pendiente</option>
                          <option value="rechazado">Rechazado</option>
                          <option value="aplazado">Aplazado</option>
                          <option value="aprobado">Aprobado</option>
                        </select>
                    </div>
                </div>
            </div>

            <!-- %%%%%%% 8 %%%%%%% -->
            <div class="form-group">
                <label style="font-weight: bold;">Calificación Final</label>
                <select type="text" class="form-control" [(ngModel)]="trabajogrado.calificacionfinal" name="calificacionfinal">
                  <option value="pendiente">Pendiente</option>
                  <option value="aprobado">Aprobado</option>
                  <option value="aprobado meritorio">Aprobado Meritorio</option>
                  <option value="aprobado laureado">Aprobado Laureado</option>
                </select>
            </div>

            <h3 class="text-info mt-3">Estado del Proyecto</h3>
            <hr>

            <div class="row">

                <div class="col-md-4">
                    <!-- %%%%%%% 6 %%%%%%% -->
                    <div class="form-group">
                        <label style="font-weight: bold;">Fecha de Inicio de Ejecución</label>
                        <app-date-picker [Fecha]="trabajogrado.fechainicioejecucion" (CambioFecha)="trabajogrado.fechainicioejecucion = $event"></app-date-picker>
                    </div>
                </div>

                <div class="col-md-4">
                    <!-- %%%%%%% 10 %%%%%%% -->
                    <div class="form-group">
                        <label style="font-weight: bold;">Fecha de Sustentación</label>
                        <app-date-picker [Fecha]="trabajogrado.fechasustentacion" (CambioFecha)="trabajogrado.fechasustentacion = $event"></app-date-picker>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="form-group">
                        <label style="font-weight: bold;">¿Cuál es el estado del proyecto?</label>
                        <select type="text" type="number" required class="form-control" [(ngModel)]="trabajogrado.estadoproyecto" name="estadoproyecto">
                          <option value="proceso">En Proceso</option>
                          <option value="terminado">Terminado</option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label style="font-weight: bold;">Tiempo de Ejecución (Se cálcula únicamente cuando se guarda)</label>
                <table class="table table-hover">
                    <tr>
                        <th>Días</th>
                        <td>{{ trabajogrado.cantidadsemestresejecucion.Dias }}</td>
                    </tr>

                    <tr>
                        <th>Meses</th>
                        <td>{{ trabajogrado.cantidadsemestresejecucion.Meses }}</td>
                    </tr>

                    <tr>
                        <th>Semestres</th>
                        <td>{{ trabajogrado.cantidadsemestresejecucion.Semestres }}</td>
                    </tr>

                    <tr>
                        <th>Años</th>
                        <td>{{ trabajogrado.cantidadsemestresejecucion.Anos }}</td>
                    </tr>
                </table>
            </div>

            <h3 class="text-info mt-3">Aspectos Informativos</h3>
            <hr>

            <!-- %%%%%%% 1 %%%%%%% -->
            <div class="form-group">
                <label style="font-weight: bold;">¿El estudiante cede los derechos?</label>
                <select type="text" type="number" required class="form-control" [(ngModel)]="trabajogrado.estudiantecedederechos" name="estudiantecedederechos">
                  <option value="si">Si</option>
                  <option value="no">No</option>
                </select>
            </div>

            <button class="btn btn-outline-success float-right"><img src="assets/Iconos/Guardar.png" style="height: 32px;"> Guardar</button>
        </form>
    </div>
</div>
