<div class="row">

    <div class="col-md-9">
        <div class="bd-example">
            <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
                    <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
                    <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner">

                    <div class="carousel-item active" *ngFor="let noticia of noticias">
                        <img [src]="noticia.imagen" class="d-block w-100" alt="...">
                        <div class="carousel-caption d-none d-md-block bg-success">
                            <h5>{{ noticia.nombre }}</h5>
                            <p>{{ noticia.descripcion }}</p>
                        </div>
                    </div>

                </div>
                <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="card card-shadow" style="margin-top: 30px">

            <div class="card-header bg-success text-white text-center">
                <h3>Inicio de Sesión</h3>
            </div>

            <div class="card-body">

                <form>

                    <div class="form-group">
                        <label style="font-weight: bold">Usuario</label>
                        <input class="form-control" type="text" [(ngModel)]="usuario.cedula" name="cedula" placeholder="Ingrese su número de cédula">
                    </div>

                    <div class="form-group">
                        <label style="font-weight: bold">Contraseña</label>
                        <input class="form-control" type="password" [(ngModel)]="usuario.contra" name="contra" placeholder="Ingrese su contraseña">
                    </div>

                    <button class="btn btn-warning mx-auto d-block" (click)="ingresar()">Ingresar</button>

                </form>

            </div>

        </div>
    </div>
</div>