<h1 class="m-3">Factores</h1>
<hr>

<div class="row m-3">

    <!-- FACTOR DE INTERNACIONALIZACION -->
    <div class="col-md-2">
        <div class="card card-shadow puntero-manito m-1">
            <img style="margin: 5px; height: 120px;" src="assets/Iconos/internacionalizacion.svg" alt="Descargar">
            <div class="card-footer text-white bg-dark text-center" style="height: 65px;">
                <p>Internacionalización</p>
            </div>
        </div>
    </div>

    <!-- FACTOR DE EXTENSIÓN -->
    <div class="col-md-2">
        <div class="card card-shadow puntero-manito m-1">
            <img style="margin: 5px; height: 120px;" src="assets/Iconos/extension.svg" alt="Descargar">
            <div class="card-footer text-white bg-dark text-center" style="height: 65px;">
                <p>Extensión</p>
            </div>
        </div>
    </div>


    <!-- FACTOR DE DOCENTES -->
    <div class="col-md-2">
        <div class="card card-shadow puntero-manito m-1">
            <img style="margin: 5px; height: 120px;" src="assets/Iconos/docentes.svg" alt="Descargar">
            <div class="card-footer text-white bg-dark text-center" style="height: 65px;">
                <p>Docentes</p>
            </div>
        </div>
    </div>

    <!-- FACTOR DE ESTUDIANTES -->
    <div class="col-md-2">
        <div class="card card-shadow puntero-manito m-1">
            <img style="margin: 5px; height: 120px;" src="assets/Iconos/estudiantes.svg" alt="Descargar">
            <div class="card-footer text-white bg-dark text-center" style="height: 65px;">
                <p>Estudiantes</p>
            </div>
        </div>
    </div>

    <!-- FACTOR DE PROCESOS ACADÉMICOS -->
    <div class="col-md-2">
        <div class="card card-shadow puntero-manito m-1">
            <img style="margin: 5px; height: 120px;" src="assets/Iconos/procesos-academicos.svg" alt="Descargar">
            <div class="card-footer text-white bg-dark text-center" style="height: 65px;">
                <p>Procesos Académicos</p>
            </div>
        </div>
    </div>

    <!-- FACTOR DE INVESTIGACIÓN -->
    <div class="col-md-2">
        <div class="card card-shadow puntero-manito m-1">
            <img style="margin: 5px; height: 120px;" src="assets/Iconos/microscopio.svg" alt="Descargar">
            <div class="card-footer text-white bg-dark text-center" style="height: 65px;">
                <p>Investigación</p>
            </div>
        </div>
    </div>

</div>