<div class="m-5">

    <ul>
        <li>Subir acta de resolución de ascenso de los docentes a la plataforma</li>
        <li>Crear la posibilidad de duplicar un servicio para otro semestre. Al duplicarse se debe llevar las aulas y los docentes</li>
        <li>Para el evento EMEM crear una aplicación para crear el evento cada año desde la página y en la cual se pueda incluir la información de forma dinámica</li>
        <li>Crear una tabla de ofertas para el programa con los servicios del propio programa</li>
        <li>Crear una propiedad en los servicios que se llame semestre, para poder vincularlos con las ofertas del programa</li>
        <li>Crear la base de datos de los microcurriculos</li>

        <li>Trabajos de Grado:
            <ul>
                <li>Que se pueda descargar la tabla de trabajos de grado después de hacer un filtrado de la información</li>
                <li>Poner una bandera a cada trabajo de grado para determinar cuánto tiempo se ha tardado en elaborar el proyecto: dos semestres verde, tres semestres, naranja, mas de tres semestres rojo</li>
                <li>Hacer un cálculo de cuánto tiempo tardo el estudiante en realizar el trabajo de grado</li>
                <li>Hacer una estadística de cuántos trabajos de grado estan pendientes por terminar</li>
                <li>Estadística de calificación de trabajos de grado</li>
                <li>Estadísticas de trabajos de grado por año</li>
            </ul>
        </li>

        <li>Crear producción del docente:
            <ul>
                <li>Artículos</li>
                <li>Ponencias</li>
                <li>Libros</li>
                <li>Software</li>
                <li>Otros</li>
                <li>Mostrar estadísticas por docente</li>
                <li>Mostrar estadísticas por grupo de investigación</li>
                <li>Mostrar estadisticas por año</li>
            </ul>
        </li>

        <li>Arreglar la búsqueda de profesionales sin tílde</li>

        <li>En el reporte de horas agregar un porcentaje por facultad y por docencia directa e indirecta. Esta opción se puede agregar con un SlideToogle para activar el porcentaje en cada columna o para activarlos todos, o lo puedo hacer desde un card con
            las opciones de marcar (checkbox)</li>
        <li>En el reporte de horas por catedrático no va docencia con factor.</li>
        <li>Generar un reporte nuevo en Excel con los servicios libres, en forma de tabla, con los datos: No, Materia, H/semanales, H/semestrales, Programa y Horario, al final debe totalizar las horas semana y semestre</li>
        <li>Generar un nuevo reporte de horas por facultad y por programa, que se puedan ordenar por programa o por número de horas, también se puede hacer una estadística, se exportan todas las facultades y el usuario decide que puede exportar y que no.</li>
        <li>En graduados agregar un histórico de lugares de trabajo, el título obtenido, crear un perfil del graduado, y enlazarlo con los trabajo de grado para que le aparezca la información completa. También agregar un curriculo de las nuevas cosas que
            ha estudiado.</li>
    </ul>
</div>