<div class="row m-5">

    <div class="col-md-3 animate__animated animate__bounce">
        <div class="card card-shadow puntero-manito" (click)="irProyecto('emem-workshop')">
            <img src="assets/Imagenes/logo_emem.jpeg" alt="Workshop EMEM" class="card-img-top">

            <div class="card-title text-center">
                <h3>WorkShop EMEM</h3>
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <ul>
            <li>PP y CM</li>
            <li>Proyectos de Extensión</li>
            <li>Laboratorios</li>
        </ul>
    </div>

</div>