<div class="m-5">
    <form ngNativeValidated (ngSubmit)="guardar()">

        <h3 class="text-info">Caracterización</h3>
        <hr>
        <div class="row">
            <div class="form-group col-md-6">
                <label class="font-weight-bold">Número</label>
                <input class="form-control" required type="number" [(ngModel)]="planMejoramiento.orden" name="orden">
            </div>

            <div class="form-group col-md-6">
                <label class="font-weight-bold">Fuente</label>
                <select required class="custom-select" [(ngModel)]="planMejoramiento.idfuente" name="idfuente">
                  <option [value]="fuente.idfuente" *ngFor="let fuente of Fuentes">{{ fuente.fuente}}</option>
                </select>
            </div>
        </div>

        <div class="row">
            <div class="form-group col-md-4">
                <label class="font-weight-bold">Factor/Estándares de Calidad/Normatividad</label>
                <select required class="custom-select" [(ngModel)]="planMejoramiento.idfactorcalidad" name="idfactorcalidad">
                  <option [value]="factor.idfactorcalidad" *ngFor="let factor of FactoresCalidad">{{ factor.factor}}</option>
                </select>
            </div>

            <div class="form-group col-md-4">
                <label class="font-weight-bold">Característica/Requisito</label>
                <select required class="custom-select" [(ngModel)]="planMejoramiento.idrequisito" name="idrequisito">
                  <option [value]="requisito.idrequisito" *ngFor="let requisito of Requisitos">{{ requisito.requisito}}</option>
                </select>
            </div>

            <div class="form-group col-md-4">
                <label class="font-weight-bold">Tipo de Acción</label>
                <select required class="custom-select" [(ngModel)]="planMejoramiento.idtipoaccion" name="idtipoaccion">
                  <option [value]="tipo.idtipoaccion" *ngFor="let tipo of TiposAccion">{{ tipo.tipo_accion}}</option>
                </select>
            </div>
        </div>

        <h3 class="text-info">Descripción</h3>
        <hr>

        <div class="row">
            <div class="form-group col-md-4">
                <label class="font-weight-bold">Descripción de Oportunidad de Mejora <small>(Debilidad o Fortaleza a Consolidar)</small></label>
                <textarea class="form-control" required rows="7" [(ngModel)]="planMejoramiento.descripcion_mejora" name="descripcion_mejora"></textarea>
            </div>

            <div class="form-group col-md-4">
                <label class="font-weight-bold">Causas Principales</label>
                <textarea class="form-control" required rows="7" [(ngModel)]="planMejoramiento.causas_principales" name="causas_principales"></textarea>
            </div>

            <div class="form-group col-md-4">
                <label class="font-weight-bold">Metas</label>
                <textarea class="form-control" required rows="7" [(ngModel)]="planMejoramiento.metas" name="metas"></textarea>
            </div>
        </div>

        <h3 class="text-info">Presupuesto y Ejecución</h3>
        <hr>

        <div class="form-group">
            <label class="font-weight-bold">Actividades</label>
            <textarea class="form-control" required rows="7" [(ngModel)]="planMejoramiento.actividades" name="actividades"></textarea>
        </div>

        <div class="row">
            <div class="form-group col-md-6">
                <label class="font-weight-bold">Fecha de Inicio Programa</label>
                <input class="form-control" required type="date" [(ngModel)]="planMejoramiento.fecha_inicio" name="fecha_inicio">
            </div>

            <div class="form-group col-md-6">
                <label class="font-weight-bold">Fecha de Finalización Programa</label>
                <input class="form-control" required type="date" [(ngModel)]="planMejoramiento.fecha_fin" name="fecha_fin">
            </div>
        </div>

        <div class="row">
            <div class="form-group col-md-4">
                <label class="font-weight-bold">Presupuesto en Miles de $ u Otros Recursos</label>
                <input class="form-control" required type="text">
            </div>

            <div class="form-group col-md-4">
                <label class="font-weight-bold">Responsable de la Ejecución Principal</label>
                <input class="form-control" required type="text" [(ngModel)]="planMejoramiento.responsable_ejecucion" name="responsable_ejecucion">
            </div>

            <div class="form-group col-md-4">
                <label class="font-weight-bold">Responsable del Seguimiento</label>
                <input class="form-control" required type="text" [(ngModel)]="planMejoramiento.responsable_seguimiento" name="responsable_seguimiento">
            </div>
        </div>

        <h3 class="text-info">Observaciones y Avances</h3>
        <hr>

        <div class="row">
            <div class="form-group col-md-3">
                <label class="font-weight-bold">Indicador para la Meta (Cuantificable y Medible)</label>
                <textarea class="form-control" required rows="7" [(ngModel)]="planMejoramiento.indicador_meta" name="indicador_meta"></textarea>
            </div>

            <div class="form-group col-md-3">
                <label class="font-weight-bold">Fórmulas de Indicadores</label>
                <textarea class="form-control" required rows="7" [(ngModel)]="planMejoramiento.formula_indicador" name="formula_indicador"></textarea>
            </div>

            <div class="form-group col-md-3">
                <label class="font-weight-bold">Resultado de los Indicadores</label>
                <textarea class="form-control" required rows="7" [(ngModel)]="planMejoramiento.resultado_indicador" name="resultado_indicador"></textarea>
            </div>

            <div class="form-group col-md-3">
                <label class="font-weight-bold">Avance por Metas (Acumulado)</label>
                <textarea class="form-control" required rows="7" [(ngModel)]="planMejoramiento.avance_meta" name="resultado_inavance_metadicador"></textarea>
            </div>
        </div>

        <div class="form-group">
            <label class="font-weight-bold">Seguimiento</label>
            <textarea class="form-control" required rows="7" [(ngModel)]="planMejoramiento.seguimiento" name="seguimiento"></textarea>
        </div>

        <div class="row">
            <div class="form-group col-md-6">
                <label class="font-weight-bold">Observaciones/Verificación de la Eficacia</label>
                <textarea class="form-control" required rows="7" [(ngModel)]="planMejoramiento.observaciones" name="observaciones"></textarea>
            </div>

            <div class="form-group col-md-6">
                <label class="font-weight-bold">Estado Actual de la Acción</label>
                <textarea class="form-control" required rows="7" [(ngModel)]="planMejoramiento.estado_actual_accion" name="estado_actual_accion"></textarea>
            </div>
        </div>


        <div class="modal-footer">
            <button class="btn btn-outline-success" type="submit"><img src="assets/Iconos/Guardar.png" style="width: 32px;"> Guardar</button>
        </div>
    </form>
</div>
