<div class="m-3">

    <h3>13 de Junio del 2020</h3>
    <hr>

    <ul>
        <li>Se creo el componente para crear tipos de contratos de docentes</li>
        <li>Se creo el componente para crear las categorías de docentes</li>
		<li>Se mejoró el aspecto visual del dialogo de confirmación</li>
		<li>Se creo el componente para crear y editar perfiles de docentes</li>
		<li>Se creo un componente para gestionar los errores producidos en la aplicación</li>
		<li>Se creo un sistema para guardar las fotos de los docentes</li>
		<li>Se registraron 52 docentes del programa</li>
		<li>Se creo sistema para ordenar los perfiles de los docentes por nombre, documento, correo, telefono, tipo contrato y categoría</li>
		<li>Se creo componente para registrar facultades</li>
		<li>Se creo componente para registrar programas</li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
    </ul>
</div>
