<div class="m-3">

    <h3>Noviembre del 2020</h3>
    <hr>

    <ol>
        <li>Se actualizo el sistema de creación de servicios</li>
        <li>Se cambio la palabra Egresados por Graduados</li>
		<li>Se creo un sistema para controlar los periodos, y se agregaron el número máximo de horas que puede tener cada tipo de contrato, por periodo.</li>
		<li>Se agrego la columna de horas por factor a las agendas de contrato y carrera</li>
		<li>Se cambio el color del texto de las agendas</li>
		<li>Se filtro lista de docentes - sólo activos</li>
		<li>Se arreglo validación de materias/servicios viartuales para docentes de carrera</li>
		<li>Se puso nombre del docente en la opción de Guardar como PDF de las Agendas.</li>
		<li>Se creo un sistema de control para el estado de las Agendas</li>
		
    </ol>

    <h3>Octubre del 2020</h3>
    <hr>

    <ol>
        <li>Se creo el sistema para modalidades de trabajos de grado</li>
        <li>Se creo el sistema para áreas de profundización de trabajos de grado</li>
        <li>Se creo el sistema para registrar los egresados del programa de Licenciatura en Matemáticas</li>
        <li>Se creo el sistema para registrar y crear grupos de investigación</li>
    </ol>

    <h3>Junio del 2020</h3>
    <hr>

    <ol>
        <li>Se creo algoritmo para validar el cruce de horas de los docentes</li>
        <li>Se agregaron los filtros de búsqueda de docentes, por documento de identificación, por nombre, por categoría y por tipo de contrato</li>
        <li>Se agrego nueva propiedad "activo: texto" a la tabla de docentes</li>
        <li>Se agrego propiedad "salón: texto" a la tabla de horarios</li>
        <li>Se crearon las propiedades "jornda: texto" y "grupo: texto" para la tabla de servicios de programas</li>
        <li>Se agrego un Slide para mostrar el modo edición de los servicios de programas</li>
        <li>Se agrego opción para desasociar a un docente de un servicio desde el dialogo de agregar servicios</li>
        <li>Se creo el componente para crear tipos de contratos de docentes</li>
        <li>Se creo el componente para crear las categorías de docentes</li>
        <li>Se mejoró el aspecto visual del dialogo de confirmación</li>
        <li>Se creo el componente para crear y editar perfiles de docentes</li>
        <li>Se creo un componente para gestionar los errores producidos en la aplicación</li>
        <li>Se creo un sistema para guardar las fotos de los docentes</li>
        <li>Se registraron 52 docentes del programa</li>
        <li>Se creo sistema para ordenar los perfiles de los docentes por nombre, documento, correo, telefono, tipo contrato y categoría</li>
        <li>Se creo componente para registrar facultades</li>
        <li>Se creo componente para registrar programas</li>
    </ol>
</div>
