<div class="card">
    <div class="card-body">
        <div class="form-group">
            <label class="font-weight-bold">Nombre del Director</label>
            <input class="form-control" type="text" name="nombredirector" [(ngModel)]="configuracion.nombredirector">
        </div>

        <div class="form-group">
            <label class="font-weight-bold">Nombre del Decano</label>
            <input class="form-control" type="text" name="nombredecano" [(ngModel)]="configuracion.nombredecano">
        </div>

        <button class="btn btn-outline-success" (click)="guardarConfiguracion()"><img class="icono32h" src="assets/Iconos/Guardar.png"> Guardar</button>
    </div>
</div>