<h1 class="text-info m-3">Trabajos Grado</h1>
<hr>

<div class="text-center" style="margin: 20px;" *ngIf="leyendo">
    <i class="fas fa-sync fa-10x text-success fa fa-spin"></i>
    <h3>Leyendo Trabajos Grado ...</h3>
</div>

<div class="row m-3">
    <div class="col-md-3">

        <div class="card shadow mb-3">
            <div class="card-header bg-dark text-white">
                <h3 class="card-title">Opciones de Búsqueda</h3>
            </div>

            <div class="card-body">
                <div class="form-group">
                    <label class="font-weight-bold text-info">Título</label>
                    <input (keydown.enter)="buscarTrabajosGrado_porTitulo()" class="form-control" [(ngModel)]="tituloTrabajo" name="tituloTrabajo">
                </div>

                <div class="form-group">
                    <label class="font-weight-bold text-info">Director</label>
                    <input (keydown.enter)="buscarTrabajosGrado_porDirector()" class="form-control" [(ngModel)]="nombreDirector" name="nombreDirector">
                </div>

                <div class="form-group">
                    <label class="font-weight-bold text-info">Jurado</label>
                    <input (keydown.enter)="buscarTrabajosGrado_porJurado()" class="form-control" [(ngModel)]="nombreDocente" name="nombreDocente">
                </div>

                <div class="form-group">
                    <label class="font-weight-bold text-info">Estudiante</label>
                    <input (keydown.enter)="buscarTrabajosGrado_porNombreEstudiante()" class="form-control" [(ngModel)]="nombreEstudiante" name="nombreEstudiante">
                </div>

                <div class="form-group">
                    <label class="font-weight-bold text-info">Filtrar por Estado del Trabajo de Grado</label>
                    <select (change)="buscarTrabajosGrado_porEstadoProyecto()" [(ngModel)]="estadoTrabajo" name="estadoTrabajo" class="custom-select">
                      <option value="proceso">En Proceso</option>
                      <option value="terminado">Terminado</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="font-weight-bold text-info">Modalidad</label>
                    <select (change)="buscarTrabajosGrado_porModalidad()" [(ngModel)]="modalidad.nombre" name="modalidad" class="custom-select">
                      <option [value]="modalidad.nombre" *ngFor="let modalidad of Modalidades">{{ modalidad.nombre }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="font-weight-bold text-info">Área de Profundización</label>
                    <select (change)="buscarTrabajosGrado_porAreaProfundizacion()" [(ngModel)]="areaProfundizacion.nombre" name="areaProfundizacion" class="custom-select">
                      <option [value]="area.nombre" *ngFor="let area of AreasProfundizacion">{{ area.nombre }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="font-weight-bold text-info">Grupo de Investigación</label>
                    <select (change)="buscarTrabajosGrado_porGrupoInvestigacion()" [(ngModel)]="grupoInvestigacion.nombre" name="grupoInvestigacion" class="custom-select">
                      <option [value]="grupo.nombre" *ngFor="let grupo of GruposInvestigacion">{{ grupo.nombre }}</option>
                    </select>
                </div>
            </div>
        </div>

        <div class="card shadow mb-3">
            <div class="card-header bg-dark text-white">
                <h3 class="card-title">Menú</h3>
            </div>

            <div class="card-body">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item-action list-group-item puntero-manito" *ngFor="let menu of Menus" (click)="abrirMenu(menu)">
                        <div class="media">
                            <img class="mr-3" [src]="menu.imagen" style="width: 64px;">
                            <div class="media-body">
                                <h5 class="text-info">{{ menu.nombre | capitalizado }}</h5>
                                <p>{{ menu.descripcion }}</p>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="col-md-9">
        <div class="m-3" *ngIf="!leyendo">

            <div class="modal-footer">
                <button class="btn btn-outline-success" (click)="agregarTrabajoGrado()" style="margin: 5px;"><img src="assets/Iconos/Agregar.png" style="height: 32px;"> Crear Trabajo Grado</button>
            </div>

            <h2 class="text-info">Se encontraron {{ bTrabajosGrado.length }} resultados de {{ paginacion.total }}</h2>
            <hr>

            <div class="input-group">
                <div class="input-group-prepend">
                    <button class="btn btn-outline-success" (click)="cambiarPagina(-1)">Anterior</button>
                </div>
                <input [value]="paginacion.resultado" disabled class="form-control">
                <select class="custom-select" [(ngModel)]="paginacion.cantidad" (change)="leerTrabajosGrado()">
                  <option value="5">5</option>
                  <option value="10">10</option>
                  <option value="15">15</option>
                  <option [value]="paginacion.total">{{ paginacion.total}}</option>
                </select>
                <select class="custom-select" [(ngModel)]="paginacion.ordenarPor" name="ordenarPor" (change)="leerTrabajosGrado()">
                  <option [value]="orden" *ngFor="let orden of paginacion.attrOrdenar">{{ orden }}</option>
                </select>
                <div class="input-group-append">
                    <button class="btn btn-outline-success" (click)="cambiarPagina(1)">Siguiente</button>
                </div>
            </div>

            <ul class="list-group" *ngIf="verDescripciones">
                <li class="list-group-item list-group-item-action m-3" *ngFor="let trabajogrado of bTrabajosGrado; let id = index">
                    <div class="media m-3">
                        <img class="mr-3" src="assets/Iconos/trabajosgrado.png" style="height: 64px;">
                        <div class="media-body">
                            <h4 class="text-info">{{ trabajogrado.titulo | capitalizado }}</h4>
                            <hr>

                            <div class="row">
                                <div class="col-md-4">
                                    <h5 class="text-info">Autor(es)</h5>
                                    <hr>
                                    <ul>
                                        <li>{{ trabajogrado.estudiante1 | capitalizado}}</li>
                                        <li *ngIf="trabajogrado.estudiante2.length > 0">{{ trabajogrado.estudiante2 | capitalizado}}</li>
                                        <li *ngIf="trabajogrado.estudiante3.length > 0">{{ trabajogrado.estudiante3 | capitalizado}}</li>
                                    </ul>
                                </div>

                                <div class="col-md-4">
                                    <h5 class="text-info">Dirección</h5>
                                    <hr>
                                    <ul>
                                        <li><b>Director: </b>{{ trabajogrado.director.nombre | capitalizado}}</li>
                                        <li *ngIf="trabajogrado.codirector"><b>Codirector: </b>{{ trabajogrado.codirector.nombre | capitalizado}}</li>
                                    </ul>
                                </div>

                                <div class="col-md-4">
                                    <h5 class="text-info">Jurados</h5>
                                    <hr>
                                    <ul>
                                        <li>{{ trabajogrado.jurado1.nombre | capitalizado}}</li>
                                        <li>{{ trabajogrado.jurado2.nombre | capitalizado}}</li>
                                        <li>{{ trabajogrado.jurado3.nombre | capitalizado}}</li>
                                    </ul>
                                </div>
                            </div>
                            <hr>

                            <div class="row">
                                <div class="col-md-4">
                                    <h5 class="text-info">Tipología</h5>
                                    <hr>
                                    <ul>
                                        <li><b>Modalidad: </b>{{ trabajogrado.modalidad.nombre| capitalizado}}</li>
                                        <li><b>Área Profundización: </b>{{ trabajogrado.areaProfundizacion.nombre| capitalizado}}</li>
                                        <li><b>Grupo Investigación: </b>{{ trabajogrado.grupoInvestigacion.nombre| capitalizado}}</li>
                                    </ul>
                                </div>

                                <div class="col-md-4">
                                    <h5 class="text-info">Evaluación</h5>
                                    <hr>
                                    <ul>
                                        <li><b>Propuesta: </b>{{ trabajogrado.evaluacionpropuesta| capitalizado}}</li>
                                        <li><b>Trabajo Escrito: </b>{{ trabajogrado.evaluaciontrabajoescrito| capitalizado}}</li>
                                        <li><b>Sustentación: </b>{{ trabajogrado.evaluacionsustentacion| capitalizado}}</li>
                                        <li><b>Calificación Final: </b>{{ trabajogrado.calificacionfinal | capitalizado}}</li>
                                    </ul>
                                </div>

                                <div class="col-md-4">
                                    <h5 class="text-info">Estado</h5>
                                    <hr>
                                    <ul>
                                        <li><b>Fecha de Entrega de Propuesta: </b>{{ trabajogrado.actapropuesta}}</li>
                                        <li><b>Fecha de Inicio de Ejecución: </b>{{ trabajogrado.fechainicioejecucion}}</li>
                                        <li><b>Fecha de Sustentación: </b>{{ trabajogrado.fechasustentacion}}</li>
                                    </ul>
                                </div>
                            </div>

                            <div class="modal-footer">
                                <button class="btn btn-outline-info" (click)="verTrabajoGrado(trabajogrado)"><img src="assets/Iconos/Ver.png" style="height: 32px;" > Ver</button>
                                <button class="btn btn-outline-success" (click)="editarTrabajoGrado(trabajogrado)"><img src="assets/Iconos/Editar.png" style="height: 32px;" > Editar</button>
                                <button class="btn btn-outline-danger" (click)="eliminarTrabajoGrado(trabajogrado)"><img src="assets/Iconos/Eliminar.png" style="height: 32px;"> Eliminar</button>
                            </div>


                        </div>
                    </div>
                </li>
            </ul>

            <div *ngIf="verLista">
                <div class="modal-footer">
                    <button [value]="'Trabajos_de_Grado_con_Filtro_.xls'" class="input-group-append btn btn-outline-success" onclick="crearExcel('trabajos-grado', value)"><img class="mr-3" src="assets/Iconos/Excel.png" style="width: 32px;">  Descargar en Excel</button>
                </div>

                <table class="table table-hover table-responsive puntero-manito" id="trabajos-grado">
                    <thead>
                        <tr>
                            <th>No</th>
                            <th>Título</th>
                            <th>Estudiante(s)</th>
                            <th>Director</th>
                            <th>Codirector (Si Aplica)</th>
                            <th>Ver</th>
                            <th>Editar</th>
                            <th>Eliminar</th>
                            <th>Acta de la Propuesta</th>
                            <th>Jurado (Revisor)</th>
                            <th>Jurado 2</th>
                            <th>Jurado 3</th>
                            <th>Modalidad</th>
                            <th>Área de Profundización</th>
                            <th>Grupo de Investigación</th>
                            <th>Evaluación Prpuesta</th>
                            <th>Evaluación Trabajo Escrito</th>
                            <th>Evaluación Sustentación</th>
                            <th>Calificación Final</th>
                            <th>Fecha de Inicio Ejecución</th>
                            <th>Fecha de Sustentación</th>
                            <th>Estado del Trabajo de Grado</th>
                            <th>Meses en Ejecución</th>
                            <th>Se ceden los derechos</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr *ngFor="let trabajo of bTrabajosGrado; let id = index">
                            <td>{{ id + 1 }}</td>
                            <td>{{ trabajo.titulo | capitalizado }}</td>
                            <td>
                                <table>
                                    <tr>
                                        <td *ngIf="trabajo.estudiante1">{{ trabajo.estudiante1 | capitalizado }}</td>
                                    </tr>
                                    <tr>
                                        <td *ngIf="trabajo.estudiante2">{{ trabajo.estudiante2 | capitalizado }}</td>
                                    </tr>
                                    <tr>
                                        <td *ngIf="trabajo.estudiante3">{{ trabajo.estudiante3 | capitalizado }}</td>
                                    </tr>
                                </table>
                            </td>
                            <td>{{ trabajo.director.nombre | capitalizado }}</td>
                            <td>{{ trabajo.codirector.nombre | capitalizado }}</td>
                            <td>
                                <button class="btn btn-outline-info" (click)="verTrabajoGrado(trabajogrado)"><img src="assets/Iconos/Ver.png" style="height: 32px;" > Ver</button>
                            </td>
                            <td>
                                <button class="btn btn-outline-success" (click)="editarTrabajoGrado(trabajogrado)">
                              <img src="assets/Iconos/Editar.png" style="height: 32px;"> Editar
                            </button>
                            </td>
                            <td>
                                <button class="btn btn-outline-danger" (click)="eliminarTrabajoGrado(trabajogrado)">
                              <img src="assets/Iconos/Eliminar.png" style="height: 32px;" > Eliminar
                            </button>
                            </td>
                            <td>{{ trabajo.actapropuesta | capitalizado }}</td>
                            <td>{{ trabajo.jurado1.nombre | capitalizado }}</td>
                            <td>{{ trabajo.jurado2.nombre | capitalizado }}</td>
                            <td>{{ trabajo.jurado3.nombre | capitalizado }}</td>
                            <td>{{ trabajo.modalidad.nombre | capitalizado }}</td>
                            <td>{{ trabajo.areaProfundizacion.nombre | capitalizado }}</td>
                            <td>{{ trabajo.grupoInvestigacion.nombre | capitalizado }}</td>
                            <td>{{ trabajo.evaluacionpropuesta | capitalizado }}</td>
                            <td>{{ trabajo.evaluaciontrabajoescrito | capitalizado }}</td>
                            <td>{{ trabajo.evaluacionsustentacion | capitalizado }}</td>
                            <td>{{ trabajo.calificacionfinal | capitalizado }}</td>
                            <td>{{ trabajo.fechainicioejecucion | capitalizado }}</td>
                            <td>{{ trabajo.fechasustentacion | capitalizado }}</td>
                            <td>{{ trabajo.estadoproyecto | capitalizado }}</td>
                            <td>{{ trabajo.cantidadsemestresejecucion.Meses | capitalizado }}</td>
                            <td>{{ trabajo.estudiantecedederechos | capitalizado }}</td>

                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="row" *ngIf="verTarjetas">
                <div style="width: 300px;" *ngFor="let trabajogrado of bTrabajosGrado">
                    <div class="card shadow m-3 puntero-manito" (click)="verTrabajoGrado(trabajogrado)">
                        <div class="card-header text-white bg-dark" style="height: 90px;">
                            <h4 class="card-title text-center">{{ trabajogrado.modalidad.nombre | capitalizado }}</h4>
                        </div>
                        <div class="card-body" style="height: 430px;">
                            <h2 class="text-info text-center">{{ trabajogrado.titulo | reducirTexto:'50' | capitalizado}}</h2>
                            <hr>
                            <ul>
                                <li>{{ trabajogrado.estudiante1 | capitalizado}}</li>
                                <li *ngIf="trabajogrado.estudiante2.length > 0">{{ trabajogrado.estudiante2 | capitalizado}}</li>
                                <li *ngIf="trabajogrado.estudiante3.length > 0">{{ trabajogrado.estudiante3 | capitalizado}}</li>
                            </ul>
                            <div class="card-footer bg-light">
                                <p class="text-center">{{ trabajogrado.grupoInvestigacion.nombre | capitalizado }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>