<div class="text-center" style="margin: 20px;" *ngIf="guardando">
    <i class="fas fa-sync fa-10x text-success fa fa-spin"></i>
    <h3>Guardando Perfil de Docente ...</h3>
</div>

<div class="text-center" style="margin: 20px;" *ngIf="leyendo">
    <i class="fas fa-sync fa-10x text-success fa fa-spin"></i>
    <h3>Leyendo Docente ...</h3>
</div>

<form *ngIf="!guardando && !leyendo">

    <!-- %%%%%%% Datos Básicos del Docente %%%%%%% -->
    <h3>Datos Básicos</h3>
    <hr>

    <div class="row">

        <div style="width: 25%;">
            <div class="card card-shadow">
                <div class="card-body">
                    <div class="circular-landscape" align="center" style="width: 250px; height: 250px;">
                        <img [src]="docente.foto | noImagen">
                    </div>

                    <h3 class="text-center">{{ docente.nombre | capitalizado }}</h3>

                    <div class="form-group">
                        <div class="custom-file">
                            <input type="file" class="custom-file-input" (change)="seleccionImagen($event.target.files[0])">
                            <label class="custom-file-label">Cambiar Foto ...</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-9">
            <div class="form-group">
                <label style="font-weight: bold;">Documento de Identidad</label>
                <input type="text" class="form-control" [(ngModel)]="docente.documento" name="iddocente">
            </div>

            <div class="form-group">
                <label style="font-weight: bold;">Nombre</label>
                <input type="text" class="form-control" [(ngModel)]="docente.nombre" name="nombre">
            </div>

            <div class="form-group">
                <label style="font-weight: bold;">Teléfono</label>
                <input type="text" class="form-control" [(ngModel)]="docente.telefono" name="telefono">
            </div>

            <div class="form-group">
                <label style="font-weight: bold;">Correo</label>
                <input type="text" class="form-control" [(ngModel)]="docente.correo" name="correo">
            </div>

            <div class="form-group">
                <label style="font-weight: bold;">Categoría Docente</label>
                <select class="custom-select" [(ngModel)]="docente.idcategoriadocente" name="idcategoriadocente">
                  <option [value]="''">Seleccione una categoría docente ...</option>
                  <option [value]="categoria.idcategoriadocente" *ngFor="let categoria of Categorias" >{{ categoria.categoria | capitalizado }}</option>
                </select>
            </div>

            <div class="form-group">
                <label style="font-weight: bold;">Tipo Contrato</label>
                <select class="custom-select" [(ngModel)]="docente.idtipocontrato" name="idtipocontrato">
                  <option [value]="''">Seleccione un tipo de contrato ...</option>
                  <option [value]="tipo.idtipocontrato" *ngFor="let tipo of TiposContrato" >{{ tipo.contrato | capitalizado }}</option>
                </select>
            </div>

            <button (click)="guardarDocente()" class="btn btn-outline-success float-right"><img src="assets/Iconos/Guardar.png" style="height: 32px;"> Guardar</button>
        </div>
    </div>

    <mat-accordion>

        <!-- %%%%%%% Formación %%%%%%% -->
        <mat-expansion-panel [expanded]="true">
            <mat-expansion-panel-header>
                <h3>Formación</h3>
            </mat-expansion-panel-header>
        </mat-expansion-panel>

        <!-- %%%%%%% Grupo de Investigación %%%%%%% -->
        <mat-expansion-panel [expanded]="true">
            <mat-expansion-panel-header>
                <h3>Grupo de Investigación</h3>
            </mat-expansion-panel-header>
        </mat-expansion-panel>

        <!-- %%%%%%% Trabajos de Grado %%%%%%% -->
        <mat-expansion-panel [expanded]="true">
            <mat-expansion-panel-header>
                <h3>Trabajos de Grado Dirigidos</h3>
            </mat-expansion-panel-header>

            <table class="table table-hover">
                <thead class="table-dark">
                    <tr>
                        <th class="font-size-24">No</th>
                        <th class="font-size-24">Título</th>
                        <th class="font-size-24">Estudiantes</th>
                    </tr>
                </thead>

                <tbody>
                    <tr *ngFor="let trabajoGrado of perfilDocente.DirectorTrabajosGrado; let id = index">
                        <td class="font-size-24">{{ id + 1 }}</td>
                        <td class="font-size-24">{{ trabajoGrado.Titulo | capitalizado }}</td>
                        <td class="font-size-24">
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item list-group-item-action" *ngIf="trabajoGrado.Estudiante1">{{ trabajoGrado.Estudiante1 | capitalizado}}</li>
                                <li class="list-group-item list-group-item-action" *ngIf="trabajoGrado.Estudiante2">{{ trabajoGrado.Estudiante2 | capitalizado}}</li>
                                <li class="list-group-item list-group-item-action" *ngIf="trabajoGrado.Estudiante3">{{ trabajoGrado.Estudiante3 | capitalizado}}</li>
                            </ul>
                        </td>
                    </tr>
                </tbody>
            </table>
        </mat-expansion-panel>

        <!-- %%%%%%% Trabajos de Grado %%%%%%% -->
        <mat-expansion-panel [expanded]="true">
            <mat-expansion-panel-header>
                <h3>Trabajos de Grado Evaluados</h3>
            </mat-expansion-panel-header>

            <table class="table table-hover">
                <thead class="table-dark">
                    <tr>
                        <th class="font-size-24">No</th>
                        <th class="font-size-24">Título</th>
                        <th class="font-size-24">Estudiantes</th>
                    </tr>
                </thead>

                <tbody>
                    <tr *ngFor="let trabajoGrado of perfilDocente.JuradoTrabajosGrado; let id = index">
                        <td class="font-size-24">{{ id + 1 }}</td>
                        <td class="font-size-24">{{ trabajoGrado.Titulo | capitalizado }}</td>
                        <td class="font-size-24">
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item list-group-item-action" *ngIf="trabajoGrado.Estudiante1">{{ trabajoGrado.Estudiante1 | capitalizado}}</li>
                                <li class="list-group-item list-group-item-action" *ngIf="trabajoGrado.Estudiante2">{{ trabajoGrado.Estudiante2 | capitalizado}}</li>
                                <li class="list-group-item list-group-item-action" *ngIf="trabajoGrado.Estudiante3">{{ trabajoGrado.Estudiante3 | capitalizado}}</li>
                            </ul>
                        </td>
                    </tr>
                </tbody>
            </table>
        </mat-expansion-panel>

        <!-- %%%%%%% Trabajos de Grado %%%%%%% -->
        <mat-expansion-panel [expanded]="true">
            <mat-expansion-panel-header>
                <h3>Producción</h3>
            </mat-expansion-panel-header>
        </mat-expansion-panel>

        <!-- %%%%%%% Histórico de Agendas %%%%%%% -->
        <mat-expansion-panel [expanded]="true">
            <mat-expansion-panel-header>
                <h3>Histórico de Agendas</h3>
            </mat-expansion-panel-header>
        </mat-expansion-panel>
    </mat-accordion>

</form>